/* Color Palette */
:root {
  --main-color: #CCA085;
  --alt-color: #4B5556;
}

/* Navigation Bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5F7880;
  position: fixed;
  top: 0;
  width: 100vw;
}

nav li {
  float: right;
  font-size: 1vw;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vh 1vw;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

/* Peak */
top div {
  color: #5F7880;
}

top h1 {
  text-align: left;
  font-size: 5vw;
  padding-top: 20vh;
  padding-left: 4vw;
  margin: 0;
}

top h2 {
  text-align: left;
  font-size: 1.5vw;
  font-weight: lighter;
  padding-top: 1vw;
  padding-left: 4vw;
  margin: 0;
}

#top {
  height: 100vh;
  width: 100%;
}

/* Themes */
main div {
  background-color: #CCA085;
  color:white;
}

main h3 {
  background-color: white;
  color: #CCA085;
  padding: 20;
  width: fit-content;
}

alt div {
  background-color: white;
  color:#4B5556;
}

alt h3 {
  background-color: #4B5556;
  color: white;
  padding: 20;
  width: fit-content;
}

/* Divider Styles */
.block {
  padding: 50px;
}

.end {
  background-color: #5F7880;
  color: white;
  align-content: center;
  vertical-align: middle;
  display: table-cell;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  
  padding: 100px;
}

/* Image */
img.avatar {
  border-radius: 50%;
  margin-left: auto;
  margin-right: 10vw;
  display: block;
}

img.icon {
  width: 7vw;
  min-width:3em;
  height:auto;
}

/* Shapes */
.arrow {
  width: 2.5em;
  height: 2.5em;
  transition: 1s;
  float: left;
  box-shadow: 5px 5px 0 #5F7880;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Overall */
body {
  font-family: Tahoma;
  margin: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}